<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OpenTok Hello World</title>
    <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <script type="text/javascript">
        var apiKey = '45127612';
        var sessionId = '2_MX40NTEyNzYxMn5-MTQyMTA4OTY0MTUxM35QbGh0NHpTTUxmY1Urc2d4VkNCMjNkYWx-fg';
        var token = 'T1==cGFydG5lcl9pZD00NTEyNzYxMiZzaWc9ODY1NjU5MTMyZjU0NGJhZTE0ZmNlM2VjYjViOTc0MWU0MjBjOWZjODpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5URXlOell4TW41LU1UUXlNVEE0T1RZME1UVXhNMzVRYkdoME5IcFRUVXhtWTFVcmMyZDRWa05DTWpOa1lXeC1mZyZjcmVhdGVfdGltZT0xNDIxMDg5NzIwJm5vbmNlPTAuOTkxMjgwMjM1MDUxMzM2OQ==';
    </script>
    <script src="/js/match.js"></script>
</head>
<body>
    <h2>Hello, World!</h2>

    <div id="publisher"></div>

    <div id="subscribers"></div>
</body>
</html>